header.container {
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 1rem 1rem;
}

ul {
  list-style-type: none;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 1rem 1rem 0 0;
}

li {
  padding: 0.5rem 0 0.5rem 0;
}
